# (2) IMAP folder layout for imap-mail.outlook.com
source ~/dotfiles/mutt/hooks/folders/default.rc
set hostname="outlook.office365.com"
set folder="imaps://$hostname"

# (1) IMAP/SMTP account settings for imap-mail.outlook.com
account-hook "$folder" 'source ~/dotfiles/mutt/hooks/accounts/default.rc; \
                        set realname="Jamal Natour";\
                        set my_username="ct18441";\
                        set signature="~/dotfiles/mutt/signature-imap-mail.outlook.txt";\
                        set imap_user="$my_username@bristol.ac.uk";\
                        set imap_pass="`~/dotfiles/scripts/passphrase.sh ct18441`";\
                        set smtp_pass="$imap_pass";\
                        set smtp_url="smtp://$imap_user@smtp.office365.com:587";'

set spoolfile   = "+INBOX"
set record      = "+Sent"
set postponed   = "+Drafts"

# (3) Default mailboxes
#mailboxes = "$spoolfile $record $postponed"

# (4) Addition headers for outgoing messages from Bristol
my_hdr From: $realname <$imap_user>
my_hdr Organization: Smart Internet Lab, Bristol
my_hdr X-URL: http://www.bristol.ac.uk

macro index gi "<change-folder>$spoolfile<enter>" "Go to all mail"
macro index gs "<change-folder>$record<enter>" " Go to sent mail"
macro index gd "<change-folder>$postponed<enter>" " Go to drafts mail"

# (5) Show To rather than From in sent Messages
source ~/dotfiles/mutt/hooks/folders/record.rc
