# (1) IMAP/SMTP account settings for gmail / personal
source ~/dotfiles/mutt/hooks/accounts/default.rc
account-hook imaps://imap.gmail.com \
 'set realname = "Jamal Natour" ;\
 set my_server = "smtp.gmail.com:587" ;\
 set signature = "~/dotfiles/mutt/signature-hotmail.txt" ;\
 set my_username = "email.jamal.natour@gmail.com" ;\
 set imap_user = "$my_username" ;\
 set smtp_pass = "$imap_pass" ;\
 set smtp_url = "smtp://$imap_user@$my_server"'

set copy=no

# (2) IMAP folder layout for hotmail.com
source ~/dotfiles/mutt/hooks/folders/default.rc
set hostname    = "gmail.com"
set folder      = "imaps://imap.gmail.com"

set spoolfile   = "+INBOX"
set postponed   = "+[Gmail]/Drafts"
set trash       = "+[Gmail]/Bin"
set record      = "+[Gmail]/Sent Mail"

# (3) Default mailboxes
mailboxes = "$spoolfile $record $postponed $trash"

# (4) Addition headers for outgoing messages from hotmail.com
my_hdr From: $realname <$imap_user>
my_hdr Organization: N/A
my_hdr X-URL: N/A

macro index gi "<change-folder>$spoolfile\"<enter>" "Go to all mail"
macro index ga "<change-folder>=[Gmail]/All Mail<enter>" "Go to all mail"
macro index gs "<change-folder>$record<enter>" " Go to sent mail"
macro index gd "<change-folder>$postponed<enter>" " Go to drafts mail"

#  mail-style keyboard shortcuts
macro index,pager y "<enter-command>unset trash\n <delete-message>" "Gmail archive message"
macro index,pager d "<enter-command>set trash=\"imaps://imap.googlemail.com/[Gmail]/Bin\"\n <delete-message>" "Gmail delete message"

# (5) Show To rather than From in sent Messages
source ~/dotfiles/mutt/hooks/folders/record.rc
