# (1) IMAP/SMTP account settings for hotmail.com
source ~/dotfiles/mutt/hooks/accounts/default.rc
account-hook imaps://imap-mail.outlook.com \
     'set realname	= "Jamal Natour" ;\
      set signature	= "~/dotfiles/mutt/signature-hotmail.txt" ;\
      set my_username	= "uk_coder" ;\
      set imap_user	= "$my_username@hotmail.com" ;\
      set smtp_url	= "smtp://$imap_user@smtp.live.com:587" ;\
      set smtp_pass	= "$imap_pass"'

# (2) IMAP folder layout for hotmail.com
source ~/dotfiles/mutt/hooks/folders/default.rc
set hostname    = "hotmail.com"
set folder      = "imaps://imap-mail.outlook.com"

set spoolfile   = "+INBOX"
set record      = "+Sent"
set postponed   = "+Drafts"

# (3) Default mailboxes
#mailboxes = "$spoolfile $record $postponed"

# (4) Addition headers for outgoing messages from hotmail.com
my_hdr From: $realname <$imap_user>

macro index gi "<change-folder>$spoolfile<enter>" "Go to all mail"
macro index gs "<change-folder>$record<enter>" " Go to sent mail"
macro index gd "<change-folder>$postponed<enter>" " Go to drafts mail"

# (5) Show To rather than From in sent Messages
source ~/dotfiles/mutt/hooks/folders/record.rc
