# unset everything set in a folder hook

# (1) Reset default folder hook

# clear index binding for the folder
bind index @ noop

unset hostname  
unset folder    
unset spoolfile 
unset record    
unset postponed

# Reset any headers that may have been set in other folder-hooks
unmy_hdr From:
unmy_hdr Organization:
unmy_hdr X-URL:

# default list of header fields to weed out when displaying mail
#ignore them all and then unignore what you want to see
ignore *
unignore  Date To From Subject X-Mailer Organization User-Agent

unhdr_order *
hdr_order Date From To Subject Organization X-Mailer User-Agent

set pager_context=1
set pager_index_lines=6                 #show a mini-index in pager
set menu_scroll
set pgp_verify_sig=yes                  #dont show pgp in pager
set status_on_top                       #put status line at top

set status_format=" %r %b %f %n      Del %d      Msgs %m %l %> (%P)"
set pager_format="%-10.10i %[!%a %b %d %R]"
set date_format="!%H:%M %a %d %b %Y    "
set index_format="%4C %Z %D %-15.15F     %s"
#set folder_format="%2C %t %8s %d %N %f"
set folder_format="%2C %t %N %8s %d %f"
