# (2) Sent folder hook

# default list of header fields to weed out when displaying mail
#ignore them all and then unignore what you want to see
folder-hook $record "ignore *"
folder-hook $record "unhdr_order *"
folder-hook $record "unignore date to subject" 
folder-hook $record "hdr_order date to subject" 

folder-hook $spoolfile "ignore *"
folder-hook $spoolfile "unignore date to from subject x-mailer organization user-agent"
folder-hook $spoolfile "hdr_order date subject from to x-mailer user-agent organization"
