# Maintain a local addressbook
set alias_file		= ~/dotfiles/mutt/contacts/fuma.rc
source $alias_file  	# load the normal contact db
source ~/dotfiles/mutt/contacts/people.rc       # load the personal
source ~/dotfiles/mutt/contacts/prevox.rc       # load the prevox contacts
source ~/dotfiles/mutt/contacts/stink-co.rc     # load the stink contacts
source ~/dotfiles/mutt/contacts/station-road.rc # load the stink contacts
source ~/dotfiles/mutt/contacts/agents.rc # load the agents contacts

# Replace addresses with names if their address is in the addressbook
set sort_alias		= alias # sort the contact lists
set reverse_alias	= yes   # display peoples names if we know their email

alternates ^jamal.natour@fumasoftware\\.com$ ^Jamal.Natour@fumasoftware\\.com$
