# (1) declare mime types
set mailcap_path = ~/.mutt/mailcap.rc

set mime_forward = ask-yes
# (2) use mailcap to invoke a view for the following mime types
auto_view text/html 		# convert html emails to plain text
auto_view text/calendar 	# convert calendar attachments to plain text

# (3) prefer plain text over html mail
alternative_order text/plain text/html
